<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.managerInformation.dao.ManagerInformationDao">
<!--    查询店长门下司机信息-->
    <select id="listManagerDrivers" parameterType="java.lang.String" resultType="com.xzsd.app.managerInformation.entity.ManagerInformationInfo">
        select
		    user_name       'userName',
		    phone
        from `user`
        where area_id =
            (select
	            area_id
            from store
            where user_code = #{userId})
        and is_delete = 0
        and role = 3
    </select>
</mapper>