<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.menu.dao.MenuDao">
    <!--统计菜单名字数量-->
    <select id="countMenuName" parameterType="com.xzsd.pc.menu.entity.MenuInfo" resultType="int">
        select count(menu_name)
        from menu
        where is_delete = 0
        and menu_name = #{menuName}
    </select>

<!-- 新增菜单-->
    <insert id="saveMenu" parameterType="com.xzsd.pc.menu.entity.MenuInfo">
        insert into  menu
        (
        menu_id,
        menu_name,
        menu_routing,
        is_menu,
        remarks,
        is_delete,
        create_user,
        create_time,
        update_user,
        update_time,
        verson
        )
        values
        (
            #{menuId},
            #{menuName},
            #{menuPath},
            1,
            #{menuComment},
            #{isDelete},
            #{createUser},
            now(),
            #{createUser},
            now(),
            0
        )

    </insert>

<!--菜单查询-->
    <select  id="getMenuByMenuName" parameterType="java.lang.String" resultType="com.xzsd.pc.menu.entity.MenuInfo">
    select
        menu_id       'menuId',
        menu_name     'menuName',
        menu_routing  'menuPath',
        is_menu       'isMenu',
        remarks       'menuComment',
        verson        'version'
    from menu
    where menu_id=#{menuId}
    and is_menu = 1
    and is_delete = 0

    </select>

<!--菜单分页查询-->
    <select id="listMenu" parameterType="com.xzsd.pc.menu.entity.MenuInfo" resultType="com.xzsd.pc.menu.entity.MenuInfo">
        select
        menu_name     'menuName',
        menu_routing  'menuPath',
        menu_id        'menuId'
        from menu
        where  is_menu = 1
        and is_delete = 0

    </select>

<!--    菜单修改-->
    <update id="updateMenu" parameterType="com.xzsd.pc.menu.entity.MenuInfo">
        update menu
        set
            menu_name       = #{menuName},
            <if test="menuPath != null and menuPath != ''">
            menu_routing    = #{menuPath},
            </if>
            <if test="menuComment != null and menuPath != ''">
            remarks         = #{menuComment},
            </if>
            update_user     = #{updateUser},
            update_time     = now(),
            verson          = verson + 1
        where menu_Id     = #{menuId}
        and verson = #{version}
        and is_delete = 0
    </update>
<!--    删除菜单-->
    <delete id="deleteMenu" parameterType="com.xzsd.pc.menu.entity.MenuInfo">
        update menu
        set
            is_delete   = 1,
            update_user = #{userId},
            verson      = verson + 1
        where menu_id in
        <foreach item="item" index="index" collection="listCode" open="(" separator="," close=")">
            #{item}
        </foreach>
        and is_delete = 0
    </delete>

    <!--菜单分页查询店长权限-->
    <select id="listMenuHome" parameterType="java.lang.String" resultType="com.xzsd.pc.menu.entity.MenuInfo">
        select
        menu_name     'menuName',
        menu_routing  'menuPath',
        menu_id        'menuId'
        from menu
        where  is_menu = 1
        and is_delete = 0
        <if test="role == 2">
            and menu_id in (5,7,8,9)
        </if>
        order by menu_id


    </select>
</mapper>