<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.picture.dao.PictureDao">
<!--    统计id数量-->
    <select id="countPictureByPictureId" parameterType="com.xzsd.pc.picture.entity.PictureInfo" resultType="int">
        select count(sort_num)
        from picture
        where sort_num = #{slideshowNum}
        and is_delete = 0
    </select>
<!--    新增轮播图-->
    <insert id="savePicture" parameterType="com.xzsd.pc.picture.entity.PictureInfo">
        insert into picture
        (
            sort_num,
            picture_id,
            picture_address,
            book_id,
            start_time,
            close_time,
            is_delete,
            create_user,
            create_time,
            verson,
            is_use
        )
        values
        (
            #{slideshowNum},
            #{slideshowId},
            #{imagePath},
            #{goodsId},
            #{startTime},
            #{endTime},
            0,
            #{createUser},
            now(),
            0,
            1
        )
    </insert>
<!--    轮播图列表查询-->
    <select id="listPicture" parameterType="com.xzsd.pc.picture.entity.PictureInfo" resultType="com.xzsd.pc.picture.entity.PictureInfo">
        select
            sort_num        'slideshowNum',
            picture_id      'slideshowId',
            picture_address 'slideshowPath',
            is_use          'slideshowStateId',
            start_time      'startTime',
            close_time      'endTime',
            verson          'version'
        from picture
        where is_delete = 0
        <if test="slideshowStateId != null and slideshowStateId != ''">
            and is_use = #{slideshowStateId}
        </if>
        order by sort_num
    </select>
<!--   轮播图删除-->
    <update id="deletePicture" parameterType="java.lang.String">
    update picture
    set
        is_delete   = 1,
        update_user = #{userId},
        update_time = now(),
        verson      = verson + 1
    where picture_id in
    <foreach collection="listCode" index="index" open="(" close=")" separator="," item="item">
        #{item}
    </foreach>

    </update>
<!--    修改轮播图状态-->
    <update id="updateState" parameterType="java.lang.String">
        update picture
        set
            is_use           = #{slideshowStateId},
            update_user      = #{userId},
            update_time      = now(),
            verson           = verson + 1
        where is_delete = 0
        and picture_id in
        <foreach collection="listCode" item="item" separator="," close=")" open="(" index="index">
            #{item}
        </foreach>
        and verson in
        <foreach collection="listVersion" item="item" separator="," close=")" open="(" index="index">
            #{item}
        </foreach>
    </update>
<!--    查询商品信息-->
    <select id="listGoods" parameterType="com.xzsd.pc.picture.entity.GoodsInfo" resultType="com.xzsd.pc.picture.entity.GoodsInfo">
        select
            book_id         'goodsId',
            book_name       'goodsName',
            shop_issell     'goodsStateId',
            first_classfiy  'oneClassifyName',
            second_classfiy 'twoClassifyName'
        from goods
        where is_delete = 0
        <if test="goodsName != null and goodsName !=''">
            and book_name like concat('%',#{goodsName},'%')
        </if>
        <if test="goodsId != null and goodsId !=''">
            and book_id = #{goodsId}
        </if>
        and shop_issell = 1
    </select>





</mapper>