<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.topOfColumn.dao.TopOfColumnDao">
<!--    查询顶部栏接口-->
    <select id="getTopOfColumn" parameterType="java.lang.String" resultType="com.xzsd.pc.topOfColumn.entity.TopOfColumnInfo">
        select
            user_code       'userId',
            user_name       'userName',
            image_path      'userImage',
            role
        from user
        where is_delete = 0
        and user_code = #{userId}
    </select>
</mapper>